openapi: 3.1.0
info:
  contact:
    name: StackQL Studios
    url: https://github.com/stackql/google-discovery-to-openapi
    email: info@stackql.io
  title: YouTube Data API v3
  description: >-
    The YouTube Data API v3 is an API that provides access to YouTube data, such
    as videos, playlists, and channels.
  version: v3
  x-discovery-doc-revision: '20230103'
  x-generated-date: '2023-01-05'
externalDocs:
  url: https://developers.google.com/youtube/
servers:
  - url: https://youtube.googleapis.com
components:
  securitySchemes:
    Oauth2:
      type: oauth2
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes: &ref_0
            https://www.googleapis.com/auth/youtubepartner: View and manage your assets and associated content on YouTube
            https://www.googleapis.com/auth/youtube.readonly: View your YouTube account
            https://www.googleapis.com/auth/youtube.upload: Manage your YouTube videos
            https://www.googleapis.com/auth/youtubepartner-channel-audit: >-
              View private information of your YouTube channel relevant during
              the audit process with a YouTube partner
            https://www.googleapis.com/auth/youtube: Manage your YouTube account
            https://www.googleapis.com/auth/youtube.channel-memberships.creator: >-
              See a list of your current active channel members, their current
              level, and when they became a member
            https://www.googleapis.com/auth/youtube.force-ssl: >-
              See, edit, and permanently delete your YouTube videos, ratings,
              comments and captions
    Oauth2c:
      type: oauth2
      description: Oauth 2.0 authorization code authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://accounts.google.com/o/oauth2/token
          scopes: *ref_0
  schemas:
    SuperChatEvent:
      type: object
      properties:
        etag:
          type: string
          description: Etag of this resource.
        snippet:
          $ref: '#/components/schemas/SuperChatEventSnippet'
          description: >-
            The `snippet` object contains basic details about the Super Chat
            event.
        id:
          description: >-
            The ID that YouTube assigns to uniquely identify the Super Chat
            event.
          type: string
        kind:
          type: string
          default: youtube#superChatEvent
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            `"youtube#superChatEvent"`.
      description: >-
        A `__superChatEvent__` resource represents a Super Chat purchase on a
        YouTube channel.
      id: SuperChatEvent
    CdnSettings:
      id: CdnSettings
      description: Brief description of the live stream cdn settings.
      type: object
      properties:
        ingestionInfo:
          $ref: '#/components/schemas/IngestionInfo'
          description: >-
            The ingestionInfo object contains information that YouTube provides
            that you need to transmit your RTMP or HTTP stream to YouTube.
        resolution:
          type: string
          description: The resolution of the inbound video data.
          enumDescriptions:
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
          enum:
            - 240p
            - 360p
            - 480p
            - 720p
            - 1080p
            - 1440p
            - 2160p
            - variable
        frameRate:
          enumDescriptions:
            - ''
            - ''
            - ''
          description: The frame rate of the inbound video data.
          type: string
          enum:
            - 30fps
            - 60fps
            - variable
        format:
          annotations:
            required:
              - youtube.liveStreams.insert
              - youtube.liveStreams.update
          description: 'The format of the video stream that you are sending to Youtube. '
          type: string
        ingestionType:
          enum:
            - rtmp
            - dash
            - webrtc
            - hls
          type: string
          description: ' The method or protocol used to transmit the video stream.'
          enumDescriptions:
            - ''
            - ''
            - ''
            - ''
          annotations:
            required:
              - youtube.liveStreams.insert
              - youtube.liveStreams.update
    PlaylistItemListResponse:
      type: object
      id: PlaylistItemListResponse
      properties:
        visitorId:
          type: string
          description: The visitorId identifies the visitor.
        items:
          description: A list of playlist items that match the request criteria.
          type: array
          items:
            $ref: '#/components/schemas/PlaylistItem'
        prevPageToken:
          description: >-
            The token that can be used as the value of the pageToken parameter
            to retrieve the previous page in the result set.
          type: string
        nextPageToken:
          description: >-
            The token that can be used as the value of the pageToken parameter
            to retrieve the next page in the result set.
          type: string
        kind:
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "youtube#playlistItemListResponse". Etag of this resource.
          type: string
          default: youtube#playlistItemListResponse
        etag:
          type: string
        eventId:
          description: Serialized EventId of the request which produced this response.
          type: string
        pageInfo:
          $ref: '#/components/schemas/PageInfo'
          description: General pagination information.
        tokenPagination:
          $ref: '#/components/schemas/TokenPagination'
    RelatedEntity:
      properties:
        entity:
          $ref: '#/components/schemas/Entity'
      type: object
      id: RelatedEntity
    PlaylistItem:
      description: >-
        A *playlistItem* resource identifies another resource, such as a video,
        that is included in a playlist. In addition, the playlistItem resource
        contains details about the included resource that pertain specifically
        to how that resource is used in that playlist. YouTube uses playlists to
        identify special collections of videos for a channel, such as: -
        uploaded videos - favorite videos - positively rated (liked) videos -
        watch history - watch later To be more specific, these lists are
        associated with a channel, which is a collection of a person, group, or
        company's videos, playlists, and other YouTube information. You can
        retrieve the playlist IDs for each of these lists from the channel
        resource for a given channel. You can then use the playlistItems.list
        method to retrieve any of those lists. You can also add or remove items
        from those lists by calling the playlistItems.insert and
        playlistItems.delete methods. For example, if a user gives a positive
        rating to a video, you would insert that video into the liked videos
        playlist for that user's channel.
      id: PlaylistItem
      properties:
        etag:
          description: Etag of this resource.
          type: string
        id:
          type: string
          description: The ID that YouTube uses to uniquely identify the playlist item.
        status:
          $ref: '#/components/schemas/PlaylistItemStatus'
          description: >-
            The status object contains information about the playlist item's
            privacy status.
        snippet:
          description: >-
            The snippet object contains basic details about the playlist item,
            such as its title and position in the playlist.
          $ref: '#/components/schemas/PlaylistItemSnippet'
        kind:
          type: string
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "youtube#playlistItem".
          default: youtube#playlistItem
        contentDetails:
          $ref: '#/components/schemas/PlaylistItemContentDetails'
          description: >-
            The contentDetails object is included in the resource if the
            included item is a YouTube video. The object contains additional
            information about the video.
      type: object
    LiveChatMessage:
      id: LiveChatMessage
      description: >-
        A *liveChatMessage* resource represents a chat message in a YouTube Live
        Chat.
      properties:
        authorDetails:
          description: >-
            The authorDetails object contains basic details about the user that
            posted this message.
          $ref: '#/components/schemas/LiveChatMessageAuthorDetails'
        kind:
          default: youtube#liveChatMessage
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "youtube#liveChatMessage".
          type: string
        id:
          description: The ID that YouTube assigns to uniquely identify the message.
          type: string
        etag:
          type: string
          description: Etag of this resource.
        snippet:
          $ref: '#/components/schemas/LiveChatMessageSnippet'
          description: The snippet object contains basic details about the message.
      type: object
    PlaylistPlayer:
      properties:
        embedHtml:
          description: An <iframe> tag that embeds a player that will play the playlist.
          type: string
      id: PlaylistPlayer
      type: object
    MembershipsDetails:
      id: MembershipsDetails
      type: object
      properties:
        membershipsDuration:
          description: >-
            Data about memberships duration without taking into consideration
            pricing levels.
          $ref: '#/components/schemas/MembershipsDuration'
        highestAccessibleLevelDisplayName:
          description: >-
            Display name for the highest level that the user has access to at
            the moment.
          type: string
        highestAccessibleLevel:
          description: Id of the highest level that the user has access to at the moment.
          type: string
        membershipsDurationAtLevels:
          description: Data about memberships duration on particular pricing levels.
          items:
            $ref: '#/components/schemas/MembershipsDurationAtLevel'
          type: array
        accessibleLevels:
          description: >-
            Ids of all levels that the user has access to. This includes the
            currently active level and all other levels that are included
            because of a higher purchase.
          type: array
          items:
            type: string
    I18nRegion:
      type: object
      description: A *i18nRegion* resource identifies a region where YouTube is available.
      id: I18nRegion
      properties:
        snippet:
          $ref: '#/components/schemas/I18nRegionSnippet'
          description: >-
            The snippet object contains basic details about the i18n region,
            such as region code and human-readable name.
        etag:
          description: Etag of this resource.
          type: string
        kind:
          type: string
          default: youtube#i18nRegion
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "youtube#i18nRegion".
        id:
          description: The ID that YouTube uses to uniquely identify the i18n region.
          type: string
    VideoPlayer:
      type: object
      description: Player to be used for a video playback.
      properties:
        embedHeight:
          format: int64
          type: string
        embedHtml:
          type: string
          description: An <iframe> tag that embeds a player that will play the video.
        embedWidth:
          description: The embed width
          type: string
          format: int64
      id: VideoPlayer
    ChannelConversionPings:
      type: object
      description: >-
        The conversionPings object encapsulates information about conversion
        pings that need to be respected by the channel.
      properties:
        pings:
          items:
            $ref: '#/components/schemas/ChannelConversionPing'
          type: array
          description: >-
            Pings that the app shall fire (authenticated by biscotti cookie).
            Each ping has a context, in which the app must fire the ping, and a
            url identifying the ping.
      id: ChannelConversionPings
    ChannelListResponse:
      type: object
      id: ChannelListResponse
      properties:
        items:
          items:
            $ref: '#/components/schemas/Channel'
          type: array
        etag:
          description: Etag of this resource.
          type: string
        kind:
          default: youtube#channelListResponse
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "youtube#channelListResponse".
          type: string
        nextPageToken:
          description: >-
            The token that can be used as the value of the pageToken parameter
            to retrieve the next page in the result set.
          type: string
        prevPageToken:
          description: >-
            The token that can be used as the value of the pageToken parameter
            to retrieve the previous page in the result set.
          type: string
        eventId:
          type: string
          description: Serialized EventId of the request which produced this response.
        visitorId:
          type: string
          description: The visitorId identifies the visitor.
        pageInfo:
          $ref: '#/components/schemas/PageInfo'
          description: General pagination information.
        tokenPagination:
          $ref: '#/components/schemas/TokenPagination'
    ChannelSectionTargeting:
      description: ChannelSection targeting setting.
      properties:
        regions:
          type: array
          description: The region the channel section is targeting.
          items:
            type: string
        languages:
          items:
            type: string
          type: array
          description: The language the channel section is targeting.
        countries:
          items:
            type: string
          description: The country the channel section is targeting.
          type: array
      type: object
      id: ChannelSectionTargeting
    VideoStatistics:
      description: >-
        Statistics about the video, such as the number of times the video was
        viewed or liked.
      properties:
        favoriteCount:
          description: >-
            The number of users who currently have the video marked as a
            favorite video.
          type: string
          format: uint64
        likeCount:
          format: uint64
          description: >-
            The number of users who have indicated that they liked the video by
            giving it a positive rating.
          type: string
        viewCount:
          description: The number of times the video has been viewed.
          type: string
          format: uint64
        dislikeCount:
          type: string
          format: uint64
          description: >-
            The number of users who have indicated that they disliked the video
            by giving it a negative rating.
        commentCount:
          description: The number of comments for the video.
          format: uint64
          type: string
      type: object
      id: VideoStatistics
    ChannelLocalization:
      type: object
      id: ChannelLocalization
      properties:
        description:
          type: string
          description: The localized strings for channel's description.
        title:
          description: The localized strings for channel's title.
          type: string
      description: Channel localization setting
    LanguageTag:
      type: object
      properties:
        value:
          type: string
      id: LanguageTag
    WatchSettings:
      id: WatchSettings
      description: Branding properties for the watch. All deprecated.
      properties:
        backgroundColor:
          type: string
          description: The text color for the video watch page's branded area.
        featuredPlaylistId:
          type: string
          description: >-
            An ID that uniquely identifies a playlist that displays next to the
            video player.
        textColor:
          description: The background color for the video watch page's branded area.
          type: string
      type: object
    PlaylistContentDetails:
      id: PlaylistContentDetails
      properties:
        itemCount:
          format: uint32
          type: integer
          description: The number of videos in the playlist.
      type: object
    ActivityContentDetailsFavorite:
      properties:
        resourceId:
          description: >-
            The resourceId object contains information that identifies the
            resource that was marked as a favorite.
          $ref: '#/components/schemas/ResourceId'
      description: Information about a video that was marked as a favorite video.
      type: object
      id: ActivityContentDetailsFavorite
    CaptionSnippet:
      description: Basic details about a caption track, such as its language and name.
      id: CaptionSnippet
      properties:
        videoId:
          type: string
          description: >-
            The ID that YouTube uses to uniquely identify the video associated
            with the caption track. @mutable youtube.captions.insert
          annotations:
            required:
              - youtube.captions.insert
        trackKind:
          enumDescriptions:
            - ''
            - ''
            - ''
          description: The caption track's type.
          type: string
          enum:
            - standard
            - ASR
            - forced
        isCC:
          description: >-
            Indicates whether the track contains closed captions for the deaf
            and hard of hearing. The default value is false.
          type: boolean
        audioTrackType:
          enumDescriptions:
            - ''
            - ''
            - ''
            - ''
          description: The type of audio track associated with the caption track.
          enum:
            - unknown
            - primary
            - commentary
            - descriptive
          type: string
        name:
          annotations:
            required:
              - youtube.captions.insert
          description: >-
            The name of the caption track. The name is intended to be visible to
            the user as an option during playback.
          type: string
        isAutoSynced:
          type: boolean
          description: >-
            Indicates whether YouTube synchronized the caption track to the
            audio track in the video. The value will be true if a sync was
            explicitly requested when the caption track was uploaded. For
            example, when calling the captions.insert or captions.update
            methods, you can set the sync parameter to true to instruct YouTube
            to sync the uploaded track to the video. If the value is false,
            YouTube uses the time codes in the uploaded caption track to
            determine when to display captions.
        isLarge:
          description: >-
            Indicates whether the caption track uses large text for the
            vision-impaired. The default value is false.
          type: boolean
        language:
          annotations:
            required:
              - youtube.captions.insert
          description: >-
            The language of the caption track. The property value is a BCP-47
            language tag.
          type: string
        isEasyReader:
          type: boolean
          description: >-
            Indicates whether caption track is formatted for "easy reader,"
            meaning it is at a third-grade level for language learners. The
            default value is false.
        lastUpdated:
          description: The date and time when the caption track was last updated.
          format: date-time
          type: string
        status:
          enum:
            - serving
            - syncing
            - failed
          description: The caption track's status.
          enumDescriptions:
            - ''
            - ''
            - ''
          type: string
        isDraft:
          description: >-
            Indicates whether the caption track is a draft. If the value is
            true, then the track is not publicly visible. The default value is
            false. @mutable youtube.captions.insert youtube.captions.update
          type: boolean
        failureReason:
          type: string
          description: >-
            The reason that YouTube failed to process the caption track. This
            property is only present if the state property's value is failed.
          enum:
            - unknownFormat
            - unsupportedFormat
            - processingFailed
          enumDescriptions:
            - ''
            - ''
            - ''
      type: object
    LiveStreamHealthStatus:
      id: LiveStreamHealthStatus
      type: object
      properties:
        status:
          description: The status code of this stream
          type: string
          enumDescriptions:
            - ''
            - ''
            - ''
            - ''
            - ''
          enum:
            - good
            - ok
            - bad
            - noData
            - revoked
        configurationIssues:
          items:
            $ref: '#/components/schemas/LiveStreamConfigurationIssue'
          description: The configurations issues on this stream
          type: array
        lastUpdateTimeSeconds:
          type: string
          format: uint64
          description: The last time this status was updated (in seconds)
    LiveChatModerator:
      id: LiveChatModerator
      type: object
      properties:
        snippet:
          $ref: '#/components/schemas/LiveChatModeratorSnippet'
          description: The snippet object contains basic details about the moderator.
        etag:
          description: Etag of this resource.
          type: string
        id:
          description: The ID that YouTube assigns to uniquely identify the moderator.
          type: string
        kind:
          type: string
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "youtube#liveChatModerator".
          default: youtube#liveChatModerator
      description: >-
        A *liveChatModerator* resource represents a moderator for a YouTube live
        chat. A chat moderator has the ability to ban/unban users from a chat,
        remove message, etc.
    I18nRegionListResponse:
      id: I18nRegionListResponse
      type: object
      properties:
        kind:
          default: youtube#i18nRegionListResponse
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "youtube#i18nRegionListResponse".
          type: string
        eventId:
          type: string
          description: Serialized EventId of the request which produced this response.
        items:
          type: array
          description: >-
            A list of regions where YouTube is available. In this map, the i18n
            region ID is the map key, and its value is the corresponding
            i18nRegion resource.
          items:
            $ref: '#/components/schemas/I18nRegion'
        etag:
          description: Etag of this resource.
          type: string
        visitorId:
          description: The visitorId identifies the visitor.
          type: string
    VideoLocalization:
      id: VideoLocalization
      properties:
        title:
          description: Localized version of the video's title.
          type: string
        description:
          type: string
          description: Localized version of the video's description.
      type: object
      description: Localized versions of certain video properties (e.g. title).
    LiveChatMessageAuthorDetails:
      properties:
        isChatSponsor:
          description: Whether the author is a sponsor of the live chat.
          type: boolean
        displayName:
          type: string
          description: The channel's display name.
        channelId:
          type: string
          description: The YouTube channel ID.
        profileImageUrl:
          description: The channels's avatar URL.
          type: string
        isChatOwner:
          type: boolean
          description: Whether the author is the owner of the live chat.
        isChatModerator:
          type: boolean
          description: Whether the author is a moderator of the live chat.
        isVerified:
          description: Whether the author's identity has been verified by YouTube.
          type: boolean
        channelUrl:
          type: string
          description: The channel's URL.
      type: object
      id: LiveChatMessageAuthorDetails
    VideoAbuseReportReasonSnippet:
      properties:
        secondaryReasons:
          items:
            $ref: '#/components/schemas/VideoAbuseReportSecondaryReason'
          description: >-
            The secondary reasons associated with this reason, if any are
            available. (There might be 0 or more.)
          type: array
        label:
          description: The localized label belonging to this abuse report reason.
          type: string
      id: VideoAbuseReportReasonSnippet
      type: object
      description: Basic details about a video category, such as its localized title.
    Channel:
      description: A *channel* resource contains information about a YouTube channel.
      type: object
      properties:
        statistics:
          description: The statistics object encapsulates statistics for the channel.
          $ref: '#/components/schemas/ChannelStatistics'
        localizations:
          additionalProperties:
            $ref: '#/components/schemas/ChannelLocalization'
          description: Localizations for different languages
          type: object
        etag:
          type: string
          description: Etag of this resource.
        contentOwnerDetails:
          $ref: '#/components/schemas/ChannelContentOwnerDetails'
          description: >-
            The contentOwnerDetails object encapsulates channel data that is
            relevant for YouTube Partners linked with the channel.
        topicDetails:
          description: >-
            The topicDetails object encapsulates information about Freebase
            topics associated with the channel.
          $ref: '#/components/schemas/ChannelTopicDetails'
        id:
          description: The ID that YouTube uses to uniquely identify the channel.
          type: string
        auditDetails:
          $ref: '#/components/schemas/ChannelAuditDetails'
          description: >-
            The auditionDetails object encapsulates channel data that is
            relevant for YouTube Partners during the audition process.
        snippet:
          $ref: '#/components/schemas/ChannelSnippet'
          description: >-
            The snippet object contains basic details about the channel, such as
            its title, description, and thumbnail images.
        brandingSettings:
          description: >-
            The brandingSettings object encapsulates information about the
            branding of the channel.
          $ref: '#/components/schemas/ChannelBrandingSettings'
        status:
          $ref: '#/components/schemas/ChannelStatus'
          description: >-
            The status object encapsulates information about the privacy status
            of the channel.
        contentDetails:
          description: >-
            The contentDetails object encapsulates information about the
            channel's content.
          $ref: '#/components/schemas/ChannelContentDetails'
        conversionPings:
          $ref: '#/components/schemas/ChannelConversionPings'
          description: >-
            The conversionPings object encapsulates information about conversion
            pings that need to be respected by the channel.
        kind:
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "youtube#channel".
          default: youtube#channel
          type: string
      id: Channel
    ActivityContentDetailsSubscription:
      properties:
        resourceId:
          $ref: '#/components/schemas/ResourceId'
          description: >-
            The resourceId object contains information that identifies the
            resource that the user subscribed to.
      description: Information about a channel that a user subscribed to.
      type: object
      id: ActivityContentDetailsSubscription
    CommentThreadListResponse:
      type: object
      id: CommentThreadListResponse
      properties:
        etag:
          description: Etag of this resource.
          type: string
        tokenPagination:
          $ref: '#/components/schemas/TokenPagination'
        visitorId:
          description: The visitorId identifies the visitor.
          type: string
        items:
          items:
            $ref: '#/components/schemas/CommentThread'
          type: array
          description: A list of comment threads that match the request criteria.
        eventId:
          description: Serialized EventId of the request which produced this response.
          type: string
        pageInfo:
          description: General pagination information.
          $ref: '#/components/schemas/PageInfo'
        nextPageToken:
          description: >-
            The token that can be used as the value of the pageToken parameter
            to retrieve the next page in the result set.
          type: string
        kind:
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "youtube#commentThreadListResponse".
          default: youtube#commentThreadListResponse
          type: string
    ChannelSettings:
      type: object
      properties:
        profileColor:
          type: string
          description: A prominent color that can be rendered on this channel page.
        trackingAnalyticsAccountId:
          description: >-
            The ID for a Google Analytics account to track and measure traffic
            to the channels.
          type: string
        defaultTab:
          description: Which content tab users should see when viewing the channel.
          type: string
        title:
          type: string
          description: Specifies the channel title.
        country:
          type: string
          description: The country of the channel.
        description:
          type: string
          description: Specifies the channel description.
        moderateComments:
          description: >-
            Whether user-submitted comments left on the channel page need to be
            approved by the channel owner to be publicly visible.
          type: boolean
        showRelatedChannels:
          type: boolean
          description: Whether related channels should be proposed.
        keywords:
          type: string
          description: Lists keywords associated with the channel, comma-separated.
        featuredChannelsTitle:
          description: Title for the featured channels tab.
          type: string
        featuredChannelsUrls:
          description: The list of featured channels.
          items:
            type: string
          type: array
        showBrowseView:
          description: Whether the tab to browse the videos should be displayed.
          type: boolean
        unsubscribedTrailer:
          type: string
          description: The trailer of the channel, for users that are not subscribers.
        defaultLanguage:
          type: string
      id: ChannelSettings
      description: Branding properties for the channel view.
    VideoAgeGating:
      properties:
        alcoholContent:
          type: boolean
          description: >-
            Indicates whether or not the video has alcoholic beverage content.
            Only users of legal purchasing age in a particular country, as
            identified by ICAP, can view the content.
        videoGameRating:
          type: string
          enumDescriptions:
            - ''
            - ''
            - ''
            - ''
          description: Video game rating, if any.
          enum:
            - anyone
            - m15Plus
            - m16Plus
            - m17Plus
        restricted:
          description: >-
            Age-restricted trailers. For redband trailers and adult-rated
            video-games. Only users aged 18+ can view the content. The the field
            is true the content is restricted to viewers aged 18+. Otherwise The
            field won't be present.
          type: boolean
      id: VideoAgeGating
      type: object
    LiveChatTextMessageDetails:
      properties:
        messageText:
          description: The user's message.
          type: string
      type: object
      id: LiveChatTextMessageDetails
    SubscriptionContentDetails:
      type: object
      properties:
        totalItemCount:
          format: uint32
          type: integer
          description: The approximate number of items that the subscription points to.
        newItemCount:
          description: >-
            The number of new items in the subscription since its content was
            last read.
          type: integer
          format: uint32
        activityType:
          enumDescriptions:
            - ''
            - ''
            - ''
          enum:
            - subscriptionActivityTypeUnspecified
            - all
            - uploads
          type: string
          description: >-
            The type of activity this subscription is for (only uploads,
            everything).
      description: Details about the content to witch a subscription refers.
      id: SubscriptionContentDetails
    VideoMonetizationDetails:
      properties:
        access:
          description: >-
            The value of access indicates whether the video can be monetized or
            not.
          $ref: '#/components/schemas/AccessPolicy'
      description: Details about monetization of a YouTube Video.
      id: VideoMonetizationDetails
      type: object
    VideoStatus:
      id: VideoStatus
      type: object
      description: >-
        Basic details about a video category, such as its localized title. Next
        Id: 18
      properties:
        failureReason:
          description: >-
            This value explains why a video failed to upload. This property is
            only present if the uploadStatus property indicates that the upload
            failed.
          enum:
            - conversion
            - invalidFile
            - emptyFile
            - tooSmall
            - codec
            - uploadAborted
          enumDescriptions:
            - Unable to convert video content.
            - Invalid file format.
            - Empty file.
            - File was too small.
            - Unsupported codec.
            - Upload wasn't finished.
          type: string
        privacyStatus:
          type: string
          enumDescriptions:
            - ''
            - ''
            - ''
          description: The video's privacy status.
          enum:
            - public
            - unlisted
            - private
        publishAt:
          format: date-time
          description: >-
            The date and time when the video is scheduled to publish. It can be
            set only if the privacy status of the video is private..
          type: string
        selfDeclaredMadeForKids:
          type: boolean
        publicStatsViewable:
          description: >-
            This value indicates if the extended video statistics on the watch
            page can be viewed by everyone. Note that the view count, likes, etc
            will still be visible if this is disabled. @mutable
            youtube.videos.insert youtube.videos.update
          type: boolean
        uploadStatus:
          enumDescriptions:
            - Video has been uploaded but not processed yet.
            - Video has been successfully processed.
            - Processing has failed. See FailureReason.
            - Video has been rejected. See RejectionReason.
            - Video has been deleted.
          type: string
          enum:
            - uploaded
            - processed
            - failed
            - rejected
            - deleted
          description: The status of the uploaded video.
        madeForKids:
          type: boolean
        rejectionReason:
          enum:
            - copyright
            - inappropriate
            - duplicate
            - termsOfUse
            - uploaderAccountSuspended
            - length
            - claim
            - uploaderAccountClosed
            - trademark
            - legal
          enumDescriptions:
            - Copyright infringement.
            - Inappropriate video content.
            - Duplicate upload in the same channel.
            - Terms of use violation.
            - Uploader account was suspended.
            - Video duration was too long.
            - Blocked by content owner.
            - Uploader closed his/her account.
            - Trademark infringement.
            - An unspecified legal reason.
          type: string
          description: >-
            This value explains why YouTube rejected an uploaded video. This
            property is only present if the uploadStatus property indicates that
            the upload was rejected.
        embeddable:
          type: boolean
          description: >-
            This value indicates if the video can be embedded on another
            website. @mutable youtube.videos.insert youtube.videos.update
        license:
          enumDescriptions:
            - ''
            - ''
          type: string
          enum:
            - youtube
            - creativeCommon
          description: >-
            The video's license. @mutable youtube.videos.insert
            youtube.videos.update
    LiveChatMembershipGiftingDetails:
      type: object
      id: LiveChatMembershipGiftingDetails
      properties:
        giftMembershipsLevelName:
          description: >-
            The name of the level of the gift memberships purchased by the user.
            The Level names are defined by the YouTube channel offering the
            Membership. In some situations this field isn't filled.
          type: string
        giftMembershipsCount:
          description: The number of gift memberships purchased by the user.
          format: int32
          type: integer
    VideoAbuseReportReasonListResponse:
      id: VideoAbuseReportReasonListResponse
      type: object
      properties:
        items:
          items:
            $ref: '#/components/schemas/VideoAbuseReportReason'
          description: >-
            A list of valid abuse reasons that are used with
            `video.ReportAbuse`.
          type: array
        visitorId:
          description: The `visitorId` identifies the visitor.
          type: string
        eventId:
          type: string
          description: Serialized EventId of the request which produced this response.
        etag:
          type: string
          description: Etag of this resource.
        kind:
          type: string
          default: youtube#videoAbuseReportReasonListResponse
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            `"youtube#videoAbuseReportReasonListResponse"`.
    LiveChatFanFundingEventDetails:
      id: LiveChatFanFundingEventDetails
      type: object
      properties:
        amountDisplayString:
          description: >-
            A rendered string that displays the fund amount and currency to the
            user.
          type: string
        amountMicros:
          format: uint64
          type: string
          description: The amount of the fund.
        userComment:
          type: string
          description: The comment added by the user to this fan funding event.
        currency:
          type: string
          description: The currency in which the fund was made.
    VideoLiveStreamingDetails:
      id: VideoLiveStreamingDetails
      properties:
        activeLiveChatId:
          description: >-
            The ID of the currently active live chat attached to this video.
            This field is filled only if the video is a currently live broadcast
            that has live chat. Once the broadcast transitions to complete this
            field will be removed and the live chat closed down. For persistent
            broadcasts that live chat id will no longer be tied to this video
            but rather to the new video being displayed at the persistent page.
          type: string
        scheduledStartTime:
          description: The time that the broadcast is scheduled to begin.
          format: date-time
          type: string
        scheduledEndTime:
          description: >-
            The time that the broadcast is scheduled to end. If the value is
            empty or the property is not present, then the broadcast is
            scheduled to contiue indefinitely.
          type: string
          format: date-time
        actualEndTime:
          type: string
          format: date-time
          description: >-
            The time that the broadcast actually ended. This value will not be
            available until the broadcast is over.
        concurrentViewers:
          description: >-
            The number of viewers currently watching the broadcast. The property
            and its value will be present if the broadcast has current viewers
            and the broadcast owner has not hidden the viewcount for the video.
            Note that YouTube stops tracking the number of concurrent viewers
            for a broadcast when the broadcast ends. So, this property would not
            identify the number of viewers watching an archived video of a live
            broadcast that already ended.
          format: uint64
          type: string
        actualStartTime:
          format: date-time
          description: >-
            The time that the broadcast actually started. This value will not be
            available until the broadcast begins.
          type: string
      type: object
      description: Details about the live streaming metadata.
    VideoCategory:
      id: VideoCategory
      type: object
      properties:
        kind:
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "youtube#videoCategory".
          default: youtube#videoCategory
          type: string
        snippet:
          $ref: '#/components/schemas/VideoCategorySnippet'
          description: >-
            The snippet object contains basic details about the video category,
            including its title.
        id:
          type: string
          description: The ID that YouTube uses to uniquely identify the video category.
        etag:
          description: Etag of this resource.
          type: string
      description: >-
        A *videoCategory* resource identifies a category that has been or could
        be associated with uploaded videos.
    VideoAbuseReportSecondaryReason:
      type: object
      properties:
        id:
          type: string
          description: The ID of this abuse report secondary reason.
        label:
          type: string
          description: The localized label for this abuse report secondary reason.
      id: VideoAbuseReportSecondaryReason
    I18nLanguage:
      description: >-
        An *i18nLanguage* resource identifies a UI language currently supported
        by YouTube.
      id: I18nLanguage
      properties:
        snippet:
          $ref: '#/components/schemas/I18nLanguageSnippet'
          description: >-
            The snippet object contains basic details about the i18n language,
            such as language code and human-readable name.
        etag:
          description: Etag of this resource.
          type: string
        kind:
          type: string
          default: youtube#i18nLanguage
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "youtube#i18nLanguage".
        id:
          type: string
          description: The ID that YouTube uses to uniquely identify the i18n language.
      type: object
    ActivityContentDetailsPlaylistItem:
      id: ActivityContentDetailsPlaylistItem
      properties:
        playlistId:
          description: The value that YouTube uses to uniquely identify the playlist.
          type: string
        playlistItemId:
          type: string
          description: ID of the item within the playlist.
        resourceId:
          $ref: '#/components/schemas/ResourceId'
          description: >-
            The resourceId object contains information about the resource that
            was added to the playlist.
      description: Information about a new playlist item.
      type: object
    SearchListResponse:
      properties:
        etag:
          description: Etag of this resource.
          type: string
        pageInfo:
          $ref: '#/components/schemas/PageInfo'
          description: General pagination information.
        items:
          type: array
          items:
            $ref: '#/components/schemas/SearchResult'
          description: Pagination information for token pagination.
        tokenPagination:
          $ref: '#/components/schemas/TokenPagination'
        prevPageToken:
          type: string
          description: >-
            The token that can be used as the value of the pageToken parameter
            to retrieve the previous page in the result set.
        kind:
          type: string
          default: youtube#searchListResponse
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "youtube#searchListResponse".
        nextPageToken:
          type: string
          description: >-
            The token that can be used as the value of the pageToken parameter
            to retrieve the next page in the result set.
        regionCode:
          type: string
        visitorId:
          type: string
          description: The visitorId identifies the visitor.
        eventId:
          type: string
          description: Serialized EventId of the request which produced this response.
      id: SearchListResponse
      type: object
    ChannelAuditDetails:
      id: ChannelAuditDetails
      description: >-
        The auditDetails object encapsulates channel data that is relevant for
        YouTube Partners during the audit process.
      properties:
        copyrightStrikesGoodStanding:
          type: boolean
          description: Whether or not the channel has any copyright strikes.
        contentIdClaimsGoodStanding:
          type: boolean
          description: Whether or not the channel has any unresolved claims.
        communityGuidelinesGoodStanding:
          description: Whether or not the channel respects the community guidelines.
          type: boolean
      type: object
    PlaylistLocalization:
      type: object
      description: Playlist localization setting
      properties:
        description:
          description: The localized strings for playlist's description.
          type: string
        title:
          type: string
          description: The localized strings for playlist's title.
      id: PlaylistLocalization
    AbuseReport:
      id: AbuseReport
      properties:
        abuseTypes:
          items:
            $ref: '#/components/schemas/AbuseType'
          type: array
        relatedEntities:
          items:
            $ref: '#/components/schemas/RelatedEntity'
          type: array
        subject:
          $ref: '#/components/schemas/Entity'
        description:
          type: string
      type: object
    InvideoPosition:
      properties:
        type:
          type: string
          description: Defines the position type.
          enum:
            - corner
          enumDescriptions:
            - ''
        cornerPosition:
          description: >-
            Describes in which corner of the video the visual widget will
            appear.
          enum:
            - topLeft
            - topRight
            - bottomLeft
            - bottomRight
          enumDescriptions:
            - ''
            - ''
            - ''
            - ''
          type: string
      id: InvideoPosition
      type: object
      description: >-
        Describes the spatial position of a visual widget inside a video. It is
        a union of various position types, out of which only will be set one.
    Comment:
      id: Comment
      description: A *comment* represents a single YouTube comment.
      properties:
        snippet:
          description: The snippet object contains basic details about the comment.
          $ref: '#/components/schemas/CommentSnippet'
        etag:
          type: string
          description: Etag of this resource.
        id:
          description: The ID that YouTube uses to uniquely identify the comment.
          type: string
        kind:
          default: youtube#comment
          type: string
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "youtube#comment".
      type: object
    VideoRecordingDetails:
      properties:
        location:
          description: The geolocation information associated with the video.
          $ref: '#/components/schemas/GeoPoint'
        recordingDate:
          format: date-time
          description: The date and time when the video was recorded.
          type: string
        locationDescription:
          description: The text description of the location where the video was recorded.
          type: string
      type: object
      id: VideoRecordingDetails
      description: Recording information associated with the video.
    CommentListResponse:
      properties:
        kind:
          default: youtube#commentListResponse
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "youtube#commentListResponse".
          type: string
        etag:
          type: string
          description: Etag of this resource.
        pageInfo:
          $ref: '#/components/schemas/PageInfo'
          description: General pagination information.
        items:
          items:
            $ref: '#/components/schemas/Comment'
          description: A list of comments that match the request criteria.
          type: array
        nextPageToken:
          type: string
          description: >-
            The token that can be used as the value of the pageToken parameter
            to retrieve the next page in the result set.
        tokenPagination:
          $ref: '#/components/schemas/TokenPagination'
        eventId:
          type: string
          description: Serialized EventId of the request which produced this response.
        visitorId:
          type: string
          description: The visitorId identifies the visitor.
      id: CommentListResponse
      type: object
    VideoCategorySnippet:
      id: VideoCategorySnippet
      properties:
        channelId:
          description: The YouTube channel that created the video category.
          default: UCBR8-60-B28hp2BmDPdntcQ
          type: string
        assignable:
          type: boolean
        title:
          description: The video category's title.
          type: string
      description: Basic details about a video category, such as its localized title.
      type: object
    ActivityListResponse:
      type: object
      id: ActivityListResponse
      properties:
        pageInfo:
          $ref: '#/components/schemas/PageInfo'
          description: General pagination information.
        prevPageToken:
          description: >-
            The token that can be used as the value of the pageToken parameter
            to retrieve the previous page in the result set.
          type: string
        etag:
          type: string
          description: Etag of this resource.
        visitorId:
          description: The visitorId identifies the visitor.
          type: string
        eventId:
          description: Serialized EventId of the request which produced this response.
          type: string
        items:
          items:
            $ref: '#/components/schemas/Activity'
          type: array
        nextPageToken:
          description: >-
            The token that can be used as the value of the pageToken parameter
            to retrieve the next page in the result set.
          type: string
        tokenPagination:
          $ref: '#/components/schemas/TokenPagination'
        kind:
          default: youtube#activityListResponse
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "youtube#activityListResponse".
          type: string
    LiveChatMemberMilestoneChatDetails:
      type: object
      properties:
        memberLevelName:
          type: string
          description: >-
            The name of the Level at which the viever is a member. The Level
            names are defined by the YouTube channel offering the Membership. In
            some situations this field isn't filled.
        userComment:
          type: string
          description: >-
            The comment added by the member to this Member Milestone Chat. This
            field is empty for messages without a comment from the member.
        memberMonth:
          type: integer
          description: >-
            The total amount of months (rounded up) the viewer has been a member
            that granted them this Member Milestone Chat. This is the same
            number of months as is being displayed to YouTube users.
          format: uint32
      id: LiveChatMemberMilestoneChatDetails
    GeoPoint:
      description: Geographical coordinates of a point, in WGS84.
      type: object
      id: GeoPoint
      properties:
        altitude:
          description: Altitude above the reference ellipsoid, in meters.
          type: number
          format: double
        latitude:
          description: Latitude in degrees.
          format: double
          type: number
        longitude:
          format: double
          description: Longitude in degrees.
          type: number
    CommentSnippet:
      properties:
        updatedAt:
          type: string
          format: date-time
          description: The date and time when the comment was last updated.
        textDisplay:
          type: string
          description: >-
            The comment's text. The format is either plain text or HTML
            dependent on what has been requested. Even the plain text
            representation may differ from the text originally posted in that it
            may replace video links with video titles etc.
        canRate:
          type: boolean
          description: Whether the current viewer can rate this comment.
        authorProfileImageUrl:
          description: The URL for the avatar of the user who posted the comment.
          type: string
        moderationStatus:
          enumDescriptions:
            - The comment is available for public display.
            - The comment is awaiting review by a moderator.
            - ''
            - The comment is unfit for display.
          enum:
            - published
            - heldForReview
            - likelySpam
            - rejected
          description: >-
            The comment's moderation status. Will not be set if the comments
            were requested through the id filter.
          type: string
        textOriginal:
          type: string
          description: >-
            The comment's original raw text as initially posted or last updated.
            The original text will only be returned if it is accessible to the
            viewer, which is only guaranteed if the viewer is the comment's
            author.
        authorChannelId:
          $ref: '#/components/schemas/CommentSnippetAuthorChannelId'
        channelId:
          description: >-
            The id of the corresponding YouTube channel. In case of a channel
            comment this is the channel the comment refers to. In case of a
            video comment it's the video's channel.
          type: string
        authorDisplayName:
          description: The name of the user who posted the comment.
          type: string
        publishedAt:
          format: date-time
          type: string
          description: The date and time when the comment was originally published.
        parentId:
          type: string
          description: The unique id of the parent comment, only set for replies.
        authorChannelUrl:
          description: Link to the author's YouTube channel, if any.
          type: string
        likeCount:
          format: uint32
          description: The total number of likes this comment has received.
          type: integer
        videoId:
          type: string
          description: The ID of the video the comment refers to, if any.
        viewerRating:
          enum:
            - none
            - like
            - dislike
          enumDescriptions:
            - ''
            - The entity is liked.
            - The entity is disliked.
          description: >-
            The rating the viewer has given to this comment. For the time being
            this will never return RATE_TYPE_DISLIKE and instead return
            RATE_TYPE_NONE. This may change in the future.
          type: string
      description: Basic details about a comment, such as its author and text.
      type: object
      id: CommentSnippet
    PropertyValue:
      type: object
      description: A pair Property / Value.
      id: PropertyValue
      properties:
        value:
          description: The property's value.
          type: string
        property:
          type: string
          description: A property.
    MembershipsDuration:
      properties:
        memberTotalDurationMonths:
          description: >-
            The cumulative time the user has been a member across all levels in
            complete months (the time is rounded down to the nearest integer).
          format: int32
          type: integer
        memberSince:
          type: string
          description: >-
            The date and time when the user became a continuous member across
            all levels.
      id: MembershipsDuration
      type: object
    VideoTopicDetails:
      id: VideoTopicDetails
      description: Freebase topic information related to the video.
      type: object
      properties:
        relevantTopicIds:
          type: array
          items:
            type: string
          description: >-
            Similar to topic_id, except that these topics are merely relevant to
            the video. These are topics that may be mentioned in, or appear in
            the video. You can retrieve information about each topic using
            Freebase Topic API.
        topicCategories:
          description: >-
            A list of Wikipedia URLs that provide a high-level description of
            the video's content.
          items:
            type: string
          type: array
        topicIds:
          items:
            type: string
          description: >-
            A list of Freebase topic IDs that are centrally associated with the
            video. These are topics that are centrally featured in the video,
            and it can be said that the video is mainly about each of these. You
            can retrieve information about each topic using the < a
            href="http://wiki.freebase.com/wiki/Topic_API">Freebase Topic API.
          type: array
    Subscription:
      description: >-
        A *subscription* resource contains information about a YouTube user
        subscription. A subscription notifies a user when new videos are added
        to a channel or when another user takes one of several actions on
        YouTube, such as uploading a video, rating a video, or commenting on a
        video.
      properties:
        snippet:
          description: >-
            The snippet object contains basic details about the subscription,
            including its title and the channel that the user subscribed to.
          $ref: '#/components/schemas/SubscriptionSnippet'
        contentDetails:
          $ref: '#/components/schemas/SubscriptionContentDetails'
          description: >-
            The contentDetails object contains basic statistics about the
            subscription.
        etag:
          type: string
          description: Etag of this resource.
        subscriberSnippet:
          description: >-
            The subscriberSnippet object contains basic details about the
            subscriber.
          $ref: '#/components/schemas/SubscriptionSubscriberSnippet'
        id:
          type: string
          description: The ID that YouTube uses to uniquely identify the subscription.
        kind:
          default: youtube#subscription
          type: string
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "youtube#subscription".
      id: Subscription
      type: object
    Caption:
      type: object
      id: Caption
      properties:
        id:
          annotations:
            required:
              - youtube.captions.update
          type: string
          description: The ID that YouTube uses to uniquely identify the caption track.
        kind:
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "youtube#caption".
          type: string
          default: youtube#caption
        snippet:
          description: The snippet object contains basic details about the caption.
          $ref: '#/components/schemas/CaptionSnippet'
        etag:
          type: string
          description: Etag of this resource.
      description: >-
        A *caption* resource represents a YouTube caption track. A caption track
        is associated with exactly one YouTube video.
    LiveChatMessageSnippet:
      description: 'Next ID: 33'
      type: object
      properties:
        membershipGiftingDetails:
          $ref: '#/components/schemas/LiveChatMembershipGiftingDetails'
          description: >-
            Details about the Membership Gifting event, this is only set if the
            type is 'membershipGiftingEvent'.
        userBannedDetails:
          $ref: '#/components/schemas/LiveChatUserBannedMessageDetails'
        type:
          enumDescriptions:
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
          enum:
            - invalidType
            - textMessageEvent
            - tombstone
            - fanFundingEvent
            - chatEndedEvent
            - sponsorOnlyModeStartedEvent
            - sponsorOnlyModeEndedEvent
            - newSponsorEvent
            - memberMilestoneChatEvent
            - membershipGiftingEvent
            - giftMembershipReceivedEvent
            - messageDeletedEvent
            - messageRetractedEvent
            - userBannedEvent
            - superChatEvent
            - superStickerEvent
          description: >-
            The type of message, this will always be present, it determines the
            contents of the message as well as which fields will be present.
          type: string
        superChatDetails:
          $ref: '#/components/schemas/LiveChatSuperChatDetails'
          description: >-
            Details about the Super Chat event, this is only set if the type is
            'superChatEvent'.
        publishedAt:
          type: string
          description: The date and time when the message was orignally published.
          format: date-time
        giftMembershipReceivedDetails:
          $ref: '#/components/schemas/LiveChatGiftMembershipReceivedDetails'
          description: >-
            Details about the Gift Membership Received event, this is only set
            if the type is 'giftMembershipReceivedEvent'.
        textMessageDetails:
          description: >-
            Details about the text message, this is only set if the type is
            'textMessageEvent'.
          $ref: '#/components/schemas/LiveChatTextMessageDetails'
        authorChannelId:
          description: >-
            The ID of the user that authored this message, this field is not
            always filled. textMessageEvent - the user that wrote the message
            fanFundingEvent - the user that funded the broadcast newSponsorEvent
            - the user that just became a sponsor memberMilestoneChatEvent - the
            member that sent the message membershipGiftingEvent - the user that
            made the purchase giftMembershipReceivedEvent - the user that
            received the gift membership messageDeletedEvent - the moderator
            that took the action messageRetractedEvent - the author that
            retracted their message userBannedEvent - the moderator that took
            the action superChatEvent - the user that made the purchase
            superStickerEvent - the user that made the purchase
          type: string
        superStickerDetails:
          $ref: '#/components/schemas/LiveChatSuperStickerDetails'
          description: >-
            Details about the Super Sticker event, this is only set if the type
            is 'superStickerEvent'.
        fanFundingEventDetails:
          $ref: '#/components/schemas/LiveChatFanFundingEventDetails'
          description: >-
            Details about the funding event, this is only set if the type is
            'fanFundingEvent'.
        messageDeletedDetails:
          $ref: '#/components/schemas/LiveChatMessageDeletedDetails'
        hasDisplayContent:
          description: >-
            Whether the message has display content that should be displayed to
            users.
          type: boolean
        messageRetractedDetails:
          $ref: '#/components/schemas/LiveChatMessageRetractedDetails'
        liveChatId:
          type: string
        newSponsorDetails:
          $ref: '#/components/schemas/LiveChatNewSponsorDetails'
          description: >-
            Details about the New Member Announcement event, this is only set if
            the type is 'newSponsorEvent'. Please note that "member" is the new
            term for "sponsor".
        displayMessage:
          type: string
          description: >-
            Contains a string that can be displayed to the user. If this field
            is not present the message is silent, at the moment only messages of
            type TOMBSTONE and CHAT_ENDED_EVENT are silent.
        memberMilestoneChatDetails:
          $ref: '#/components/schemas/LiveChatMemberMilestoneChatDetails'
          description: >-
            Details about the Member Milestone Chat event, this is only set if
            the type is 'memberMilestoneChatEvent'.
      id: LiveChatMessageSnippet
    Activity:
      description: >-
        An *activity* resource contains information about an action that a
        particular channel, or user, has taken on YouTube.The actions reported
        in activity feeds include rating a video, sharing a video, marking a
        video as a favorite, commenting on a video, uploading a video, and so
        forth. Each activity resource identifies the type of action, the channel
        associated with the action, and the resource(s) associated with the
        action, such as the video that was rated or uploaded.
      type: object
      properties:
        contentDetails:
          $ref: '#/components/schemas/ActivityContentDetails'
          description: >-
            The contentDetails object contains information about the content
            associated with the activity. For example, if the snippet.type value
            is videoRated, then the contentDetails object's content identifies
            the rated video.
        snippet:
          $ref: '#/components/schemas/ActivitySnippet'
          description: >-
            The snippet object contains basic details about the activity,
            including the activity's type and group ID.
        kind:
          default: youtube#activity
          type: string
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "youtube#activity".
        etag:
          type: string
          description: Etag of this resource
        id:
          description: The ID that YouTube uses to uniquely identify the activity.
          type: string
      id: Activity
    MembershipsLevelListResponse:
      properties:
        kind:
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "youtube#membershipsLevelListResponse".
          default: youtube#membershipsLevelListResponse
          type: string
        visitorId:
          type: string
          description: The visitorId identifies the visitor.
        items:
          type: array
          description: A list of pricing levels offered by a creator to the fans.
          items:
            $ref: '#/components/schemas/MembershipsLevel'
        etag:
          description: Etag of this resource.
          type: string
        eventId:
          type: string
          description: Serialized EventId of the request which produced this response.
      id: MembershipsLevelListResponse
      type: object
    ActivityContentDetails:
      type: object
      id: ActivityContentDetails
      description: >-
        Details about the content of an activity: the video that was shared, the
        channel that was subscribed to, etc.
      properties:
        bulletin:
          description: >-
            The bulletin object contains details about a channel bulletin post.
            This object is only present if the snippet.type is bulletin.
          $ref: '#/components/schemas/ActivityContentDetailsBulletin'
        comment:
          $ref: '#/components/schemas/ActivityContentDetailsComment'
          description: >-
            The comment object contains information about a resource that
            received a comment. This property is only present if the
            snippet.type is comment.
        favorite:
          $ref: '#/components/schemas/ActivityContentDetailsFavorite'
          description: >-
            The favorite object contains information about a video that was
            marked as a favorite video. This property is only present if the
            snippet.type is favorite.
        channelItem:
          $ref: '#/components/schemas/ActivityContentDetailsChannelItem'
          description: >-
            The channelItem object contains details about a resource which was
            added to a channel. This property is only present if the
            snippet.type is channelItem.
        social:
          description: >-
            The social object contains details about a social network post. This
            property is only present if the snippet.type is social.
          $ref: '#/components/schemas/ActivityContentDetailsSocial'
        upload:
          description: >-
            The upload object contains information about the uploaded video.
            This property is only present if the snippet.type is upload.
          $ref: '#/components/schemas/ActivityContentDetailsUpload'
        like:
          $ref: '#/components/schemas/ActivityContentDetailsLike'
          description: >-
            The like object contains information about a resource that received
            a positive (like) rating. This property is only present if the
            snippet.type is like.
        promotedItem:
          $ref: '#/components/schemas/ActivityContentDetailsPromotedItem'
          description: >-
            The promotedItem object contains details about a resource which is
            being promoted. This property is only present if the snippet.type is
            promotedItem.
        subscription:
          $ref: '#/components/schemas/ActivityContentDetailsSubscription'
          description: >-
            The subscription object contains information about a channel that a
            user subscribed to. This property is only present if the
            snippet.type is subscription.
        recommendation:
          description: >-
            The recommendation object contains information about a recommended
            resource. This property is only present if the snippet.type is
            recommendation.
          $ref: '#/components/schemas/ActivityContentDetailsRecommendation'
        playlistItem:
          $ref: '#/components/schemas/ActivityContentDetailsPlaylistItem'
          description: >-
            The playlistItem object contains information about a new playlist
            item. This property is only present if the snippet.type is
            playlistItem.
    LiveStreamContentDetails:
      type: object
      id: LiveStreamContentDetails
      description: Detailed settings of a stream.
      properties:
        isReusable:
          description: >-
            Indicates whether the stream is reusable, which means that it can be
            bound to multiple broadcasts. It is common for broadcasters to reuse
            the same stream for many different broadcasts if those broadcasts
            occur at different times. If you set this value to false, then the
            stream will not be reusable, which means that it can only be bound
            to one broadcast. Non-reusable streams differ from reusable streams
            in the following ways: - A non-reusable stream can only be bound to
            one broadcast. - A non-reusable stream might be deleted by an
            automated process after the broadcast ends. - The liveStreams.list
            method does not list non-reusable streams if you call the method and
            set the mine parameter to true. The only way to use that method to
            retrieve the resource for a non-reusable stream is to use the id
            parameter to identify the stream. 
          type: boolean
        closedCaptionsIngestionUrl:
          type: string
          description: The ingestion URL where the closed captions of this stream are sent.
    InvideoBranding:
      type: object
      id: InvideoBranding
      properties:
        position:
          description: >-
            The spatial position within the video where the branding watermark
            will be displayed.
          $ref: '#/components/schemas/InvideoPosition'
        timing:
          $ref: '#/components/schemas/InvideoTiming'
          description: >-
            The temporal position within the video where watermark will be
            displayed.
        imageBytes:
          type: string
          description: >-
            The bytes the uploaded image. Only used in api to youtube
            communication.
          format: byte
        targetChannelId:
          description: >-
            The channel to which this branding links. If not present it defaults
            to the current channel.
          type: string
        imageUrl:
          description: >-
            The url of the uploaded image. Only used in apiary to api
            communication.
          type: string
      description: LINT.IfChange Describes an invideo branding.
    ChannelBannerResource:
      type: object
      id: ChannelBannerResource
      description: >-
        A channel banner returned as the response to a channel_banner.insert
        call.
      properties:
        kind:
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "youtube#channelBannerResource".
          type: string
          default: youtube#channelBannerResource
        etag:
          type: string
        url:
          type: string
          description: The URL of this banner image.
    LiveStreamStatus:
      description: Brief description of the live stream status.
      properties:
        healthStatus:
          description: The health status of the stream.
          $ref: '#/components/schemas/LiveStreamHealthStatus'
        streamStatus:
          enum:
            - created
            - ready
            - active
            - inactive
            - error
          enumDescriptions:
            - ''
            - ''
            - ''
            - ''
            - ''
          type: string
      id: LiveStreamStatus
      type: object
    LiveChatModeratorListResponse:
      properties:
        tokenPagination:
          $ref: '#/components/schemas/TokenPagination'
        prevPageToken:
          description: >-
            The token that can be used as the value of the pageToken parameter
            to retrieve the previous page in the result set.
          type: string
        kind:
          type: string
          description: >-
            Identifies what kind of resource this is. Value: the fixed string
            "youtube#liveChatModeratorListResponse".
          default: youtube#liveChatModeratorListResponse
        etag:
          type: string
          description: Etag of this resource.
        visitorId:
          type: string
          description: The visitorId identifies the visitor.
        pageInfo:
          description: General pagination information.
          $ref: '#/components/schemas/PageInfo'
        items:
          description: A list of moderators that match the request criteria.
          items:
            $ref: '#/components/schemas/LiveChatModerator'
          type: array
        nextPageToken:
          description: >-
            The token that can be used as the value of the pageToken parameter
            to retrieve the next page in the result set.
          type: string
        eventId:
          type: string
          description: Serialized EventId of the request which produced this response.
      id: LiveChatModeratorListResponse
      type: object
    ContentRating:
      properties:
        nfvcbRating:
          enumDescriptions:
            - ''
            - G
            - PG
            - '12'
            - 12A
            - '15'
            - '18'
            - RE
            - ''
          description: >-
            The video's rating from Nigeria's National Film and Video Censors
            Board.
          type: string
          enum:
            - nfvcbUnspecified
            - nfvcbG
            - nfvcbPg
            - nfvcb12
            - nfvcb12a
            - nfvcb15
            - nfvcb18
            - nfvcbRe
            - nfvcbUnrated
        mtrcbRating:
          type: string
          enum:
            - mtrcbUnspecified
            - mtrcbG
            - mtrcbPg
            - mtrcbR13
            - mtrcbR16
            - mtrcbR18
            - mtrcbX
            - mtrcbUnrated
          description: >-
            The video's rating from the Movie and Television Review and
            Classification Board (Philippines).
          enumDescriptions:
            - ''
            - G
            - PG
            - R-13
            - R-16
            - R-18
            - X
            - ''
        smaisRating:
          enumDescriptions:
            - ''
            - L
            - '7'
            - '12'
            - '14'
            - '16'
            - '18'
            - ''
          type: string
          description: The video's rating in Iceland.
          enum:
            - smaisUnspecified
            - smaisL
            - smais7
            - smais12
            - smais14
            - smais16
            - smais18
            - smaisUnrated
        czfilmRating:
          enumDescriptions:
            - ''
            - U
            - '12'
            - '14'
            - '18'
            - ''
          enum:
            - czfilmUnspecified
            - czfilmU
            - czfilm12
            - czfilm14
            - czfilm18
            - czfilmUnrated
          type: string
          description: The video's rating in the Czech Republic.
        cceRating:
          description: >-
            The video's rating from Portugal's Comissão de Classificação de
            Espect´culos.
          type: string
          enumDescriptions:
            - ''
            - '4'
            - '6'
            - '12'
            - '16'
            - '18'
            - ''
            - '14'
          enum:
            - cceUnspecified
            - cceM4
            - cceM6
            - cceM12
            - cceM16
            - cceM18
            - cceUnrated
            - cceM14
        mpaaRating:
          type: string
          enum:
            - mpaaUnspecified
            - mpaaG
            - mpaaPg
            - mpaaPg13
            - mpaaR
            - mpaaNc17
            - mpaaX
            - mpaaUnrated
          enumDescriptions:
            - ''
            - G
            - PG
            - PG-13
            - R
            - NC-17
            - '! X'
            - ''
          description: The video's Motion Picture Association of America (MPAA) rating.
        ifcoRating:
          enum:
            - ifcoUnspecified
            - ifcoG
            - ifcoPg
            - ifco12
            - ifco12a
            - ifco15
            - ifco15a
            - ifco16
            - ifco18
            - ifcoUnrated
          type: string
          description: >-
            The video's Irish Film Classification Office (IFCO - Ireland)
            rating. See the IFCO website for more information.
          enumDescriptions:
            - ''
            - G
            - PG
            - '12'
            - 12A
            - '15'
            - 15A
            - '16'
            - '18'
            - ''
        mekuRating:
          description: >-
            The video's rating from Finland's Kansallinen Audiovisuaalinen
            Instituutti (National Audiovisual Institute).
          type: string
          enumDescriptions:
            - ''
            - S
            - '7'
            - '12'
            - '16'
            - '18'
            - ''
          enum:
            - mekuUnspecified
            - mekuS
            - meku7
            - meku12
            - meku16
            - meku18
            - mekuUnrated
        icaaRating:
          description: >-
            The video's Instituto de la Cinematografía y de las Artes
            Audiovisuales (ICAA - Spain) rating.
          enum:
            - icaaUnspecified
            - icaaApta
            - icaa7
            - icaa12
            - icaa13
            - icaa16
            - icaa18
            - icaaX
            - icaaUnrated
          enumDescriptions:
            - ''
            - APTA
            - '7'
            - '12'
            - '13'
            - '16'
            - '18'
            - X
            - ''
          type: string
        bbfcRating:
          description: The video's British Board of Film Classification (BBFC) rating.
          enum:
            - bbfcUnspecified
            - bbfcU
            - bbfcPg
            - bbfc12a
            - bbfc12
            - bbfc15
            - bbfc18
            - bbfcR18
            - bbfcUnrated
          enumDescriptions:
            - ''
            - U
            - PG
            - 12A
            - '12'
            - '15'
            - '18'
            - R18
            - ''
          type: string
        incaaRating:
          description: >-
            The video's INCAA (Instituto Nacional de Cine y Artes Audiovisuales
            - Argentina) rating.
          enumDescriptions:
            - ''
            - ATP (Apta para todo publico)
            - 13 (Solo apta para mayores de 13 años)
            - 16 (Solo apta para mayores de 16 años)
            - 18 (Solo apta para mayores de 18 años)
            - X (Solo apta para mayores de 18 años, de exhibición condicionada)
            - ''
          enum:
            - incaaUnspecified
            - incaaAtp
            - incaaSam13
            - incaaSam16
            - incaaSam18
            - incaaC
            - incaaUnrated
          type: string
        resorteviolenciaRating:
          description: The video's rating in Venezuela.
          type: string
          enum:
            - resorteviolenciaUnspecified
            - resorteviolenciaA
            - resorteviolenciaB
            - resorteviolenciaC
            - resorteviolenciaD
            - resorteviolenciaE
            - resorteviolenciaUnrated
          enumDescriptions:
            - ''
            - A
            - B
            - C
            - D
            - E
            - ''
        cbfcRating:
          type: string
          enumDescriptions:
            - ''
            - U
            - U/A
            - U/A 7+
            - U/A 13+
            - U/A 16+
            - A
            - S
            - ''
          enum:
            - cbfcUnspecified
            - cbfcU
            - cbfcUA
            - cbfcUA7plus
            - cbfcUA13plus
            - cbfcUA16plus
            - cbfcA
            - cbfcS
            - cbfcUnrated
          description: >-
            The video's Central Board of Film Certification (CBFC - India)
            rating.
        eirinRating:
          type: string
          enum:
            - eirinUnspecified
            - eirinG
            - eirinPg12
            - eirinR15plus
            - eirinR18plus
            - eirinUnrated
          description: The video's Eirin (映倫) rating. Eirin is the Japanese rating system.
          enumDescriptions:
            - ''
            - G
            - PG-12
            - R15+
            - R18+
            - ''
        fcbmRating:
          type: string
          enumDescriptions:
            - ''
            - U
            - PG13
            - P13
            - '18'
            - 18SX
            - 18PA
            - 18SG
            - 18PL
            - ''
          enum:
            - fcbmUnspecified
            - fcbmU
            - fcbmPg13
            - fcbmP13
            - fcbm18
            - fcbm18sx
            - fcbm18pa
            - fcbm18sg
            - fcbm18pl
            - fcbmUnrated
          description: The video's rating from Malaysia's Film Censorship Board.
        eefilmRating:
          enum:
            - eefilmUnspecified
            - eefilmPere
            - eefilmL
            - eefilmMs6
            - eefilmK6
            - eefilmMs12
            - eefilmK12
            - eefilmK14
            - eefilmK16
            - eefilmUnrated
          enumDescriptions:
            - ''
            - Pere
            - L
            - MS-6
            - K-6
            - MS-12
            - K-12
            - K-14
            - K-16
            - ''
          description: The video's rating in Estonia.
          type: string
        djctqRating:
          description: >-
            The video's Departamento de Justiça, Classificação, Qualificação e
            Títulos (DJCQT - Brazil) rating.
          enum:
            - djctqUnspecified
            - djctqL
            - djctq10
            - djctq12
            - djctq14
            - djctq16
            - djctq18
            - djctqEr
            - djctqL10
            - djctqL12
            - djctqL14
            - djctqL16
            - djctqL18
            - djctq1012
            - djctq1014
            - djctq1016
            - djctq1018
            - djctq1214
            - djctq1216
            - djctq1218
            - djctq1416
            - djctq1418
            - djctq1618
            - djctqUnrated
          type: string
          enumDescriptions:
            - ''
            - L
            - '10'
            - '12'
            - '14'
            - '16'
            - '18'
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
        nbcRating:
          enum:
            - nbcUnspecified
            - nbcG
            - nbcPg
            - nbc12plus
            - nbc15plus
            - nbc18plus
            - nbc18plusr
            - nbcPu
            - nbcUnrated
          description: >-
            The video's rating from the Maldives National Bureau of
            Classification.
          enumDescriptions:
            - ''
            - G
            - PG
            - 12+
            - 15+
            - 18+
            - 18+R
            - PU
            - ''
          type: string
        cicfRating:
          enumDescriptions:
            - ''
            - E
            - KT/EA
            - KNT/ENA
            - ''
          type: string
          enum:
            - cicfUnspecified
            - cicfE
            - cicfKtEa
            - cicfKntEna
            - cicfUnrated
          description: >-
            The video's rating from the Commission de Contrôle des Films
            (Belgium).
        fskRating:
          enumDescriptions:
            - ''
            - FSK 0
            - FSK 6
            - FSK 12
            - FSK 16
            - FSK 18
            - ''
          enum:
            - fskUnspecified
            - fsk0
            - fsk6
            - fsk12
            - fsk16
            - fsk18
            - fskUnrated
          type: string
          description: >-
            The video's Freiwillige Selbstkontrolle der Filmwirtschaft (FSK -
            Germany) rating.
        catvRating:
          enumDescriptions:
            - ''
            - C
            - C8
            - G
            - PG
            - 14+
            - 18+
            - ''
            - ''
          enum:
            - catvUnspecified
            - catvC
            - catvC8
            - catvG
            - catvPg
            - catv14plus
            - catv18plus
            - catvUnrated
            - catvE
          description: >-
            Rating system for Canadian TV - Canadian TV Classification System
            The video's rating from the Canadian Radio-Television and
            Telecommunications Commission (CRTC) for Canadian English-language
            broadcasts. For more information, see the Canadian Broadcast
            Standards Council website.
          type: string
        pefilmRating:
          description: The video's rating in Peru.
          type: string
          enumDescriptions:
            - ''
            - PT
            - PG
            - '14'
            - '18'
            - ''
          enum:
            - pefilmUnspecified
            - pefilmPt
            - pefilmPg
            - pefilm14
            - pefilm18
            - pefilmUnrated
        fpbRatingReasons:
          items:
            enum:
              - fpbRatingReasonUnspecified
              - fpbBlasphemy
              - fpbLanguage
              - fpbNudity
              - fpbPrejudice
              - fpbSex
              - fpbViolence
              - fpbDrugs
              - fpbSexualViolence
              - fpbHorror
              - fpbCriminalTechniques
              - fpbImitativeActsTechniques
            enumDescriptions:
              - ''
              - South Africa rating content descriptors.
              - ''
              - ''
              - ''
              - ''
              - ''
              - ''
              - ''
              - ''
              - ''
              - ''
            type: string
          description: >-
            Reasons that explain why the video received its FPB (South Africa)
            rating.
          type: array
        chvrsRating:
          type: string
          enum:
            - chvrsUnspecified
            - chvrsG
            - chvrsPg
            - chvrs14a
            - chvrs18a
            - chvrsR
            - chvrsE
            - chvrsUnrated
          enumDescriptions:
            - ''
            - G
            - PG
            - 14A
            - 18A
            - R
            - E
            - ''
          description: The video's Canadian Home Video Rating System (CHVRS) rating.
        bmukkRating:
          enumDescriptions:
            - ''
            - Unrestricted
            - 6+
            - 8+
            - 10+
            - 12+
            - 14+
            - 16+
            - ''
          description: >-
            The video's rating from the Austrian Board of Media Classification
            (Bundesministerium für Unterricht, Kunst und Kultur).
          enum:
            - bmukkUnspecified
            - bmukkAa
            - bmukk6
            - bmukk8
            - bmukk10
            - bmukk12
            - bmukk14
            - bmukk16
            - bmukkUnrated
          type: string
        ilfilmRating:
          type: string
          enumDescriptions:
            - ''
            - AA
            - '12'
            - '14'
            - '16'
            - '18'
            - ''
          description: The video's rating in Israel.
          enum:
            - ilfilmUnspecified
            - ilfilmAa
            - ilfilm12
            - ilfilm14
            - ilfilm16
            - ilfilm18
            - ilfilmUnrated
        agcomRating:
          enum:
            - agcomUnspecified
            - agcomT
            - agcomVm14
            - agcomVm18
            - agcomUnrated
          enumDescriptions:
            - ''
            - T
            - VM14
            - VM18
            - ''
          type: string
          description: >-
            The video's rating from Italy's Autorità per le Garanzie nelle
            Comunicazioni (AGCOM).
        fcoRating:
          type: string
          description: >-
            The video's rating from Hong Kong's Office for Film, Newspaper and
            Article Administration.
          enum:
            - fcoUnspecified
            - fcoI
            - fcoIia
            - fcoIib
            - fcoIi
            - fcoIii
            - fcoUnrated
          enumDescriptions:
            - ''
            - I
            - IIA
            - IIB
            - II
            - III
            - ''
        kfcbRating:
          enumDescriptions:
            - ''
            - GE
            - PG
            - '16'
            - '18'
            - ''
          enum:
            - kfcbUnspecified
            - kfcbG
            - kfcbPg
            - kfcb16plus
            - kfcbR
            - kfcbUnrated
          description: The video's rating from the Kenya Film Classification Board.
          type: string
        medietilsynetRating:
          description: >-
            The video's rating from Medietilsynet, the Norwegian Media
            Authority.
          type: string
          enumDescriptions:
            - ''
            - A
            - '6'
            - '7'
            - '9'
            - '11'
            - '12'
            - '15'
            - '18'
            - ''
          enum:
            - medietilsynetUnspecified
            - medietilsynetA
            - medietilsynet6
            - medietilsynet7
            - medietilsynet9
            - medietilsynet11
            - medietilsynet12
            - medietilsynet15
            - medietilsynet18
            - medietilsynetUnrated
        rteRating:
          description: The video's rating from Ireland's Raidió Teilifís Éireann.
          enum:
            - rteUnspecified
            - rteGa
            - rteCh
            - rtePs
            - rteMa
            - rteUnrated
          enumDescriptions:
            - ''
            - GA
            - CH
            - PS
            - MA
            - ''
          type: string
        rcnofRating:
          description: >-
            The video's rating from the Hungarian Nemzeti Filmiroda, the Rating
            Committee of the National Office of Film.
          enumDescriptions:
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
            - ''
          enum:
            - rcnofUnspecified
            - rcnofI
            - rcnofIi
            - rcnofIii
            - rcnofIv
            - rcnofV
            - rcnofVi
            - rcnofUnrated
          type: string
        cccRating:
          enumDescriptions:
            - ''
            - Todo espectador
            - 6+ - Inconveniente para menores de 7 años
            - 14+
            - 18+
            - 18+ - contenido excesivamente violento
            - 18+ - contenido pornográfico
            - ''
          type: string
          enum:
            - cccUnspecified
            - cccTe
            - ccc6
            - ccc14
            - ccc18
            - ccc18v
            - ccc18s
            - cccUnrated
          description: The video's Consejo de Calificación Cinematográfica (Chile) rating.
        oflcRating:
          type: string
          enumDescriptions:
            - ''
            - G
            - PG
            - M
            - R13
            - R15
            - R16
            - R18
            - ''
            - RP13
            - RP16
            - RP18
          enum:
            - oflcUnspecified
            - oflcG
            - oflcPg
            - oflcM
            - oflcR13
            - oflcR15
            - oflcR16
            - oflcR18
            - oflcUnrated
            - oflcRp13
            - oflcRp16
            - oflcRp18
          description: >-
            The video's Office of Film and Literature Classification (OFLC - New
            Zealand) rating.
        ytRating:
          type: string
          description: A rating that YouTube uses to identify age-restricted content.
          enumDescriptions:
            - ''
            - ''
          enum:
            - ytUnspecified
            - ytAgeRestricted
        anatelRating:
          type: string
          enum:
            - anatelUnspecified
            - anatelF
            - anatelI
            - anatelI7
            - anatelI10
            - anatelI12
            - anatelR
            - anatelA
[...]
